body{
    background-color: ivory;
    color: rgb(161, 78, 143);
    font-family: 'Courier New', Courier, monospace;
}
header{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
#imagen{
    margin-left: 15%;
    height: 670px;
    background-image: url('../imagenes/octocat.png');
    background-repeat: no-repeat;
    background-size: contain;
}
